p{
   color: rgb(134, 97, 41); 
}

body{
  background-image: url(zaszlo.jpg );
  background-repeat: cover;
  background-position: top;
}
h1{ 
    color: rgb(rgb(255, 30, 30),);
    text-align: center;
}